<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The smoke runner is compiled with R8 in the emulator-only APK. -->
    <instrumentation
        android:name="de.binarynoise.captiveportalautologin.RecorderSmokeInstrumentation"
        android:targetPackage="de.binarynoise.captiveportalautologin" />
</manifest>
